.timer-blocks {
  display: inline-block;
  height: 15rem;
  width: 15rem;
  font-size: 12rem;
  text-align: center;

  @media only screen and (max-width: 768px) {
    height: 6rem;
    width: 8rem;
    font-size: 5rem;
  }
}